:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-main: #1e5631;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: max(100vh, fit-content);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-main);
	margin: 0;
	margin-block: 30px 10px;
}

a {
	margin-block: 10px;
	display: block;
	color: black;
}

.button {
	color: white;
	width: 100%;
	padding: 10px;
	background-color: var(--color-main);
	border: 2px solid var(--color-main);
	border-radius: 5px;
}

.button:hover {
	border-color: 2px solid var(--color-main);
}

.button:focus,
.button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.button--secondary {
	background-color: white;
	color: var(--color-main);
	margin: 10px 0px;
}

.button--tertiary {
	background-color: white;
	color: black;
	border: 1px solid var(--color-main);
	border-radius: 5px;
	margin: 10px 0px;
}

.button--tertiary:hover {
	background-color: #d4d4d4;
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	border-color: #cccccc;
	color: #505050;
	background-color: #f0f0f0;
}

input {
	width: calc(100% - 20px);
	padding: 10px;
	margin: 10px 0;
	border: 1px solid var(--color-main);
	border-radius: 5px;
}
