.container {
	padding: 20px;
	font-family: Arial, sans-serif;
}

.participants,
.participant-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.participant {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
}

.controls {
	margin-left: 30px;
}

.controls ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 5px;
}

.controls li {
	display: inline;
}

.list {
	display: flex;
	justify-content: space-between;
}

.list span {
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-shooter-btn {
	margin: 0 !important;
}

.back-btn {
	margin-top: 40px;
}
